/* Write CSS code here */
 body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    font-family: sans-serif;
    }

#background {
    height: 95%;
    width: 95%;
    background: white;
    border-radius: 15px;
    }
